header{
  background-color: rgb(96, 114, 116);
  height: 70px;
  position: relative;
  box-sizing: border-box;
}
.container{
  position: absolute;
  top: 8px;
  left: 30px;
  right: 	30px;
  font-family: Roboto, Arial ;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  padding: 10px 0 10x 0;
}
.container div{
  justify-content:center;
  padding: 10px 70px 10px 70px;
  margin: 5px 0 5px 0;
}
.container div a{
  text-decoration:none;
  color:white;
}